
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}

.playerItems {
  flex-basis: 24%;
  // height: 300px;
  margin: 5% 0;
  cursor: pointer;
  background-color: white;
  border-radius: 50px;
  overflow: hidden;
  border: 10px solid #0C371D;
}

.thumbnailWrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;
  & img {
    // height: inherit;
    width: inherit;
  }
}

.playerItemsAdmin {
  flex-basis: 48% !important;
}
