.container {
  min-width: 622px;
}

.navbar {
  background-color: #91c11e;
  height: 80px;
  font-size: 30px;
  padding: 15px 30px 5px;
  & h1, h2 {
    margin-bottom: 0;
  }
}

.navbar-brand {
  font-size: 30px !important;
  & a, a:visited {
    color: white;
  }
  & a:hover {
    background-color: transparent;
    text-decoration: none;
  }
}
