.playerDetails {
  text-align: center;
  padding-bottom: 35px;
  color: #0C371D;
}

.imageWrapper {
  width: 80%;
  margin: 0 auto;
  & img {
    width: 100%;
  }
}

.playerText {
  background-color: #ffffff;
}
