
<div class="playerDetails" *ngIf="showProperties">
  <div class="imageWrapper">
    <img src="{{playerToDisplay.image}}" alt="">
  </div>
  <div class="playerText">
    <h3>{{(playerToDisplay).name}}</h3>
    <h3>Position: {{(playerToDisplay).position}}</h3>
    <h3>Jersey: #{{(playerToDisplay).jersey}}</h3>
    <h3>Experience: {{(playerToDisplay).experience}}</h3>
    <h3>{{(playerToDisplay).description}}</h3>
  </div>
  <!-- <button (click)="editPlayer()" class="btn">Edit</button> -->
</div>
<!-- <div *ngIf="edit">
  <edit-player [selectedPlayer]="playerToDisplay"></edit-player>
</div> -->
